/* Coolors Exported Palette - https://coolors.co/e086d3-9e0059-0f0f0f-fbfbfb */

/* CSS HEX */
--violet-web: #e086d3ff;
--jazzberry-jam: #9e0059ff;
--rich-black-fogra-39: #0f0f0fff;
--white: #fbfbfbff;

/* CSS HSL */
--violet-web: hsla(309, 59%, 70%, 1);
--jazzberry-jam: hsla(326, 100%, 31%, 1);
--rich-black-fogra-39: hsla(0, 0%, 6%, 1);
--white: hsla(0, 0%, 98%, 1);

/* SCSS HEX */
$violet-web: #e086d3ff;
$jazzberry-jam: #9e0059ff;
$rich-black-fogra-39: #0f0f0fff;
$white: #fbfbfbff;

/* SCSS HSL */
$violet-web: hsla(309, 59%, 70%, 1);
$jazzberry-jam: hsla(326, 100%, 31%, 1);
$rich-black-fogra-39: hsla(0, 0%, 6%, 1);
$white: hsla(0, 0%, 98%, 1);

/* SCSS RGB */
$violet-web: rgba(224, 134, 211, 1);
$jazzberry-jam: rgba(158, 0, 89, 1);
$rich-black-fogra-39: rgba(15, 15, 15, 1);
$white: rgba(251, 251, 251, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e086d3ff, #9e0059ff, #0f0f0fff, #fbfbfbff);
$gradient-right: linear-gradient(90deg, #e086d3ff, #9e0059ff, #0f0f0fff, #fbfbfbff);
$gradient-bottom: linear-gradient(180deg, #e086d3ff, #9e0059ff, #0f0f0fff, #fbfbfbff);
$gradient-left: linear-gradient(270deg, #e086d3ff, #9e0059ff, #0f0f0fff, #fbfbfbff);
$gradient-top-right: linear-gradient(45deg, #e086d3ff, #9e0059ff, #0f0f0fff, #fbfbfbff);
$gradient-bottom-right: linear-gradient(135deg, #e086d3ff, #9e0059ff, #0f0f0fff, #fbfbfbff);
$gradient-top-left: linear-gradient(225deg, #e086d3ff, #9e0059ff, #0f0f0fff, #fbfbfbff);
$gradient-bottom-left: linear-gradient(315deg, #e086d3ff, #9e0059ff, #0f0f0fff, #fbfbfbff);
$gradient-radial: radial-gradient(#e086d3ff, #9e0059ff, #0f0f0fff, #fbfbfbff);