<!-- HEAD -->

<%- include("../partials/head.ejs") %>
<body>
  <!-- Barra de navegacion-->

  <%- include("../partials/navbar.ejs") %>
  
  <!-- Boton Flotante -->
  
  <%- include("../partials/button.ejs") %>


<!-- Avisto de Mantenimiento -->

<div class="fondoVioleta"></div>
    
<img src="/images/mantenimiento de la pagina/WhatsApp Image 2022-03-28 at 5.38.09 PM.jpeg" class="img-fluid" alt="imagen de mantenimiento de pagina">



   <!-- Pie de Pagina -->
 
<%- include("../partials/footer.ejs") %>

</body>