<!-- HEAD -->

<%- include("./partials/head.ejs") %>
<body>


  <!-- Barra de navegacion-->
    
  <%- include("./partials/navbar.ejs") %>

<!-- Boton Flotante -->

<%- include("./partials/button.ejs") %>
      

<!-- Carrusel de Imagenes-->

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner altura75 ">
          <div class="carousel-item active ">
            <a href=""><img src="/images/banners/maxresdefault.jpg" class="d-block altura75 mx-auto" alt="imagen1"></a>
          </div>
          <div class="carousel-item">
            <a href=""><img src="/images/banners/maxresdefault (2).jpg" class="d-block altura75 mx-auto" alt="imagen2"></a>
          </div>
          <div class="carousel-item">
            <a href=""><img src="/images/banners/maxresdefault (1).jpg" class="d-block altura75 mx-auto" alt="imagen3"></a>
          </div>
          <div class="carousel-item">
            <a href=""><img src="/images/banners/Battle-of-Chaos.png" class="d-block altura75 mx-auto" alt="imagen4"></a>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Tarjetas de Best Sellers -->

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" style="width: 9.1rem;">
                <h5>#1 Spirit Charmers</h5>
                <img src="/images/SD39-DeckJP.png" class="card-img-top">
              <h5 class="card-title">Best Seller</h5>
              <p class="card-text">...</p>
              <a href="/structure1" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" style= width:15.5rem;>
                <h5>#2 Grand Creators</h5>
                <img src="./images/grandcreators.png" class="card-img-top">
              <h5 class="card-title">Best Seller</h5>
              <p class="card-text">...</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" style="width: 10.9rem">
                <h5>#3 Duel Devastator</h5>
                <img src="/images/dueldevastator.png" class="card-img-top">
              <h5 class="card-title">Best Seller</h5>
              <p class="card-text">...</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" style="width: 10rem">
                <h5>#4 Brothers Of Legendes </h5>
                <img src="/images/brother of legends.jpg" class="card-img-top">
              <h5 class="card-title">Best Seller</h5>
              <p class="card-text">...</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" style="width: 21.4rem">
                <h5>#5 Maximun Gold "El Dorado"</h5>
                <img src="/images/Yu-Gi-Oh-TCG-Maximum-Gold-El-Dorado-Display-Box.avif" class="card-img-top">
              <h5 class="card-title">Best Seller</h5>
              <p class="card-text">...</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" style="width:10rem">
                <h5>#6 Legendary Duelist Season 1</h5>
                <img src="/images/legendary duelist 1.jpg" class="card-img-top">
              <h5 class="card-title">Best Seller</h5>
              <p class="card-text">...</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div> 
      </div>

      <!-- Pie de Pagina -->
      
      <%- include("./partials/footer.ejs") %>
        
          
</body>
</html>