<nav class="navbar-expand-lg navbar-light fondoVioleta mb-2">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/">La Posada del Cambio </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/cards">Cards</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Arquetipos</a>
            <ul class="dropdown-menu fondoVioleta p-0" aria-labelledby="navbarDropdown ">
              <li class="fondoVioleta "><a class="dropdown-item text-light" href="#">Structure Decks</a></li>
              <li class="fondoVioleta"><a class="dropdown-item text-light" href="#">Grand Creators</a></li>
              <li class="fondoVioleta"><a class="dropdown-item text-light" href="#">Battle of Chaos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Burst of Destiny</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/market"><img src="./icon/shopping-cart.svg" alt="icono del shopp"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create"><img src="/icon/cargar productos.svg" alt="icono de cargar productos"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin"><img src="/icon/admin.svg" alt="admin"></a>
          </li>
          
        </ul>
        <form class="d-flex col-4 mb-2">
          <input class="form-control me-2 " type="buscar" placeholder="buscar" aria-label="buscar">
          <button class="btn btn-outline-light " type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
